a {
    text-decoration: none;
}

.letras:hover {
    color: rgb(231, 205, 255);
}

.logo {
    padding: 1em;
}
.fotos {
    text-align: center;
    padding: 3px;
}

.envio-index {
    color: #fff;
    background-color: #000;
}

.menu{
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
}

.icon {
    color: #000;
}

.logos {
    margin: 2em;
}
/*CONTACTO*/

.contacto-text {
    text-align: left;
    margin-left: 200px;
    padding: 1%;
}

.input-group, .mb-3, .form-select, .form-check, .btn-light, .mensaje{
    margin: 15px;
    width: 500px;
}


/*PRODUCTOS*/

.card {
    text-align:center;
}


.productos {
    padding: 1em;
}
.card {
    margin: auto;
}

.fa-whatsapp {
    font-size: 80px;
    background-color: white;
    color: black;
}

.fa-whatsapp:hover {
    color: rgb(231, 205, 255);   
}

.fixed {
    position: fixed;
    right: 45px;
    z-index: 1;
    bottom: 50px;
}
