.logo {
    padding: 1em;
}
.fotos {
    text-align: center;
    padding: 3px;
}

.envio-index {
    color: #fff;
    background-color: #000;
}

.menu{
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
}

.icon {
    color: #000;
}

.logos {
    margin: 2em;
}