$color-lila: rgb(231, 205, 255);
header{
    .envio-index {
        color: #fff;
        background-color: #000;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 200;
        padding: 5px;
        text-align: center;
    }
    .logo {
        padding: 16px;
    }
    ul {
        li {
            text-align: center;
            text-transform: uppercase;
            margin: 15px;
            text-size-adjust: auto;
            .letras{
                color: rgb(48, 47, 47);
                    &:hover {
                    color: $color-lila;
                }
            }
            
        }
    }
@media (max-width: 576px){ 
    ul {
        li{
            font-size: $font-li;
            margin: 15px 5px;
            .letras {
                color: rgb(8, 8, 8);
            }
        }
    }
 }
}