a {
    text-decoration: none;
}

.logos {
    margin: 0px 30px;
}

.fotos {
    padding: 5px;
}

@media (max-width: 576px) {
    .logos {
        width: $logos-size/2;
        margin: auto;
    }
}
@media (max-width: 522px) {
    .logos {
        width: $logos-size/2;
        margin: auto;
    }
}   
@media (max-width: 395px) {
    .logos {
        width: $logos-size/10;
        margin: auto;
    }
}
@media (max-width: 768px) {  
    .logos {
        
        width: $logos-size/2;
        margin: auto;
    }
}