main {
    .row-2 {
        margin-top: 5px;
        margin-bottom: 5px;
        .card {
            margin: auto;
            text-align: center;
        }
    }

    a{
        .fa-whatsapp-square{
            font-size: 80px;
            color: $color-lila;
            &:hover{
                color: $color-lila-hover;
            }      
        }   
        .fixed {
            position: fixed;
            right: 45px;
            z-index: 1;
            bottom: 50px;
        }
    }
}